<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput type="text" id="username" name="username" [(ngModel)]="credentials.username" required>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" id="password" name="password" [(ngModel)]="credentials.password" required>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit">Login</button>
  
        <div *ngIf="loginError" class="error-message">
          Invalid credentials. Please try again.
        </div>
      </form>
    </mat-card-content>
  </mat-card>